/* about.css */
* {
    font-family: 'Noto-normal', sans-serif;
}

.business-hero, .about-info, .about-info2 {
    max-width: calc(100% - 360px); /* 180px on each side */
    margin: 144px auto 0;
    position: relative;
    z-index: 9;
}

.business-hero > h2 {
    font-family: 'Corm', sans-serif;
    font-size: clamp(2.25rem, 0.825rem + 7.12vw, 9.375rem);  
}

.about-info {
    position: relative;
    z-index: 9;
}

.about-info > h2,h3 {
    font-family: 'Noto-normal', sans-serif;
    font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
    margin-bottom: 30px;
}

.about-info > h3 {
    text-align: center;
}

.about-info > p {
    font-family: 'Noto-normal', sans-serif;
    font-size: 18px;
    line-height: 2.5;
    max-width: 600px;
    width: 100%;
    margin: 0 auto 30px;

}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 16px;
}

.breadcrumb li a {
    color: #fff;
    text-decoration: none;
}

.breadcrumb li:not(:last-of-type)::after {
    content: "›";
    margin: 0 .6em; /* 記号の左右の余白 */
    color: #fff; /* 記号の色 */
}

.business-hero > img {
    object-fit: cover;
    width: 100vw;
    margin: 50px calc(50% - 50vw) auto;
    height: 550px;
}

@media screen and (max-width: 768px) {
    .business-hero, .about-info {
        max-width: 100%;
        margin: 100px auto;
        padding: 0 20px;
    }
    
}

.about-info2 {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

.about-info2-wrapper {
    background: #FFF;
    margin: 50px calc(50% - 50vw) auto;
    padding: 50px 0;
    position: relative;
    z-index: 9;
}

.about-info2 dl {
    font-family: 'Noto-normal', sans-serif;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    color: #1e1e1e;
}

@media screen and (max-width: 768px) {
    .about-info2-wrapper {
        margin: 50px auto;
    }

    .about-info2 dl {
        flex-direction: column;
        align-items: center;
    }
}

.pagelink {
    font-family: 'Corm', sans-serif;
    font-size: clamp(1.5rem, -0.075rem + 7.88vw, 9.375rem);
    text-decoration: none;
    color: #fff;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 9;
    top: 150%;
    left: 50%;
    transform: translate(-50%, 77%);
    background-image: linear-gradient(
        transparent calc(65% - 5px),
        darken(#fff, 15%) 5px,
      );
    background-size: 0;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}

.pagelink:hover {
    background-size: 100%;
}

@media screen and (max-width: 768px) {
    .pagelink {
        margin-top: 100px;
    }
}