/* business.css */

* {
    font-family: 'Noto-normal', sans-serif;
}

.business-hero, .business-info {
    max-width: calc(100% - 360px); /* 180px on each side */
    margin: 144px auto 0;
    position: relative;
    z-index: 9;
}

.business-hero > h2 {
    font-family: 'Corm', sans-serif;
    font-size: clamp(2.25rem, 0.825rem + 7.12vw, 9.375rem);  
}

.business-info > h2 {
    font-family: 'Noto-normal', sans-serif;
    font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
    margin-bottom: 30px;
}

.business-info > p {
    font-family: 'Noto-normal', sans-serif;
    font-size: 16px;
    line-height: 2.5;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 16px;
}

.breadcrumb li a {
    color: #fff;
    text-decoration: none;
}

.breadcrumb li:not(:last-of-type)::after {
    content: "›";
    margin: 0 .6em; /* 記号の左右の余白 */
    color: #fff; /* 記号の色 */
}

.business-hero > img {
    object-fit: cover;
    width: 100vw;
    margin: 50px calc(50% - 50vw) auto;
    height: 550px;
}

@media screen and (max-width: 768px) {
    .business-hero, .business-info {
        max-width: 100%;
        margin: 100px auto;
        padding: 0 20px;
    }
    
    .business-hero > img {
        height: 300px;
    }
    
}

figure.effect-milo {
	background: #2e5d5a;
}

figure.effect-milo img {
	width: calc(100% + 100px);
	opacity: 1;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(-30px,0,0) scale(1.12);
	backface-visibility: hidden;
}

figure.effect-milo:hover img {
	opacity: 0.5;
	transform: translate3d(0,0,0) scale(1);
}

figure.effect-milo h2 {
	position: absolute;
	left: 0;
	top: 0;
	padding: 1em 1.2em;
    font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
}

figure.effect-milo hr {
	width: 210px;
	text-align: left;
	position: absolute;
	top: 120px;
	left: 35px;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(0,0,0);
}

figure.effect-milo:hover hr {
	opacity: 0;
	transform: translate3d(0,100px,0);
	
}

figure.effect-milo p {
	margin-top: 70px !important;
	padding: 0 0 0 10px;
	width: 50%;	
	font-size: clamp(0.938rem, 0.9rem + 0.19vw, 1.125rem);
    line-height: 2.0;
	border-left: 2px solid #fff;
	text-align: left;
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(0,-40px,0);
}

figure.effect-milo:hover p {
	opacity: 1;
	transform: translate3d(0,0,0);
}

@media screen and (max-width: 768px) {
    figure.effect-milo p {
        margin-top: 25px !important;
        padding: 0;
        width: 100%;
        line-height: 1.5;
        border-left: none;
    }
    
}

.grid {
	overflow: hidden;
	margin: 5% auto 0;
	padding: 0 0 0 0;
	width: 100%;
	list-style: none;
	text-align: center;
}

.grid figure {
	position: relative;
	z-index: 1;
	display: inline-block;
	overflow: hidden;
	margin: -0.135em;
	width: 100%;
	height: 490px;
	background: #0f1c27;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 1;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.pagelink {
    font-family: 'Corm', sans-serif;
    font-size: clamp(1.5rem, -0.075rem + 7.88vw, 9.375rem);
    text-decoration: none;
    color: #fff;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 9;
    top: 150%;
    left: 50%;
    transform: translate(-50%, 77%);
    background-image: linear-gradient(
        transparent calc(65% - 5px),
        darken(#fff, 15%) 5px,
      );
    background-size: 0;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}

.pagelink:hover {
    background-size: 100%;
}

@media screen and (max-width: 768px) {
    .pagelink {
        margin-top: 100px;
    }
    
}