* {
    font-family: 'Noto-normal', sans-serif;
}

.business-hero, .business-info {
    max-width: calc(100% - 360px); /* 180px on each side */
    margin: 0 auto 0;
    position: relative;
    z-index: 9;
}

.business-hero > h2 {
    font-family: 'Corm', sans-serif;
    font-size: clamp(2.25rem, 0.825rem + 7.12vw, 9.375rem);  
}

.business-info > h2 {
    font-family: 'Noto-normal', sans-serif;
    font-size: clamp(1.5rem, 1.4rem + 0.5vw, 2rem);
    margin-bottom: 100px;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-size: 16px;
}

.breadcrumb li a {
    color: #fff;
    text-decoration: none;
}

.breadcrumb li:not(:last-of-type)::after {
    content: "›";
    margin: 0 .6em; /* 記号の左右の余白 */
    color: #fff; /* 記号の色 */
}

.business-hero > img {
    object-fit: cover;
    width: 100vw;
    margin: 150px calc(50% - 50vw);
    height: 550px;
}

@media screen and (max-width: 768px) {
    .business-hero, .business-info {
        max-width: 100%;
        margin: 100px auto;
        padding: 0 20px;
    }
    
    .business-hero > img {
        height: 300px;
    }
    
}

.container02-inner {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
    justify-content: space-between;
    margin: 0 auto;
    gap: 2vw; /* アイテム間の余白 */
    position: relative;
    z-index: 9;
}

figure {
    position: relative;
    display: inline-block;
    overflow: hidden;
    filter: grayscale(100%);
    transition: filter 0.5s ease-in-out;
    width: 380px;
    flex-shrink: 0;
    min-width: 300px;
    flex-shrink: 0;
}

figure:hover {
    filter: grayscale(0%);
}

figure > img {
    width: 380px;
    height: auto;
    object-fit: contain;
    aspect-ratio: 16 / 9;
    transform-origin: center;
    transition: transform 0.5s ease-in-out;  
}

figure:hover > img {
    transform: scale(1.1);
}
    
.item {
    display: flex;
    margin-bottom: 2vw; /* 行間の余白 */
    flex: 1 1 300px; /* 画面幅に応じてサイズを調整 */
    justify-content: center; 
}

.item figure, .item .item-text {
    margin: 1vw; /* 画像とテキスト枠の余白 */
}

.item figure {
    min-width: 300px;
    max-width: 380px;
    width: 100%; /* Flexコンテナ内での伸縮を許可 */
    flex-shrink: 1; /* 必要に応じて縮小を許可 */
    flex-grow: 0; /* 拡大はしない */
}

.item-text {
    flex-grow: 1; /* 利用可能な残りのスペースを使用して拡大 */
    min-width: 120px; /* テキストエリアの最小幅 */
    padding-left: 20px; /* 画像とテキストの間隔 */
    word-wrap: break-word; /* 長い単語を折り返す */
    overflow-wrap: break-word; /* 代替プロパティ */
    white-space: normal; /* テキストの折り返し */
}

.item-text h2 {
    font-size: clamp(1rem, 0.9rem + 0.5vw, 1.5rem);
    margin-bottom: 10px;
}

.item-text p {
    line-height: 1.8;
    word-break: break-all;
}

.item img {
    width: 100%; /* 画像の幅を親要素に合わせて調整 */
    height: auto; /* 高さは自動で調整し、アスペクト比を保持 */
    object-fit: cover; /* 画像が枠に収まるように調整 */
}
    
.hover-image {
    transition: transform 0.5s ease;
}

.hover-image:hover {
    cursor: pointer;
}
    
@media screen and (max-width: 768px) {
    .item {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .item-text {
        margin-top: 10px;
    }

    .item:last-child {
        margin-bottom: 0;
    }
    
    .item-text {
        margin-bottom: 50px;
    }
}
        

.pagelink {
    font-family: 'Corm', sans-serif;
    font-size: clamp(1.5rem, -0.075rem + 7.88vw, 9.375rem);
    text-decoration: none;
    color: #fff;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 9;
    top: 150%;
    left: 50%;
    transform: translate(-50%, 77%);
    background-image: linear-gradient(
        transparent calc(65% - 5px),
        darken(#fff, 15%) 5px,
      );
    background-size: 0;
    background-repeat: no-repeat;
    transition: 0.5s ease;
}

.pagelink:hover {
    background-size: 100%;
}

@media screen and (max-width: 768px) {
    .pagelink {
        margin-top: 100px;
    }
    
}

.tab-group{
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    margin: 50px auto;
    position: relative;
    z-index: 9;
    max-width: 1500px;
    width: 100%;
    
  }

.tab{
    list-style: none;
    max-width: 300px;
    text-align: center;
    width: calc(100% / 4);
    padding: 10px 20px;
    background: #000;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

@media (max-width: 500px) {
  
.tab-group {
    flex-wrap: wrap;
    overflow-x: scroll;
}

.tab {
    flex: 0 1 150px;
}
}
  
.panel{
display: none;
}

.tab.is-active{
background:#fff;
color:#000;
transition: all 0.2s ease-out;
}

.panel.is-show{
display:block;
}
